<!DOCTYPE html>
<html>
    <head>
        <title>Full Message</title>
    </head>
    <body>
        <h1>Full Message</h1>
        <p>User: <%= messages[messageIndex].user %></p>
        <p>Text: <%= messages[messageIndex].text %></p>
        <p>Date: <%= messages[messageIndex].added %></p>

        <a href="/">Back to the message board</a>
    </body>
</html>